body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5%;
}

.grid-container {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(0, 0, 0);
}

.tile {
  background-color: rgb(208, 208, 208);
}

button {
  padding: 5px 15px;
  border-radius: 5px;
}